---
const { currentItem, class: className } = Astro.props;
import { popFromBottom, popFromTop } from "../animations/tab-pop";

// TODO move somewhere?
const navItems = [
    {
        title: 'Contact',
        id: 'contact'
    },
    {
        title: 'About',
        id: 'about'
    },
    {
        title: 'Résumé',
        id: 'resume'
    }
];

if( currentItem !== 'about' ) {
    navItems.reverse();
}

---

<nav class="navigation">
    { navItems.filter(
        item => item.id !== currentItem
    ).map( ( {id, title}, index ) => {
        const direction = index ? 'down' : 'up';
        const animation = index ? popFromBottom : popFromTop;

        return (
            <a href={id} class:list={["navigation__tab", className]} data-direction={direction} transition:animate={animation}>
                {title}
            </a>
        )
    }
    ) }
</nav>
<style>
    .navigation {
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    .navigation__tab {
        position: absolute;
        height: var(--nav-height);
        display: flex;
        align-items: center;
        padding-inline: 2.5rem;
        text-decoration: none;
        transition: transform 0.4s;
    }

    .navigation__tab[data-direction="up"] {
        top: 0;
    }

    .navigation__tab[data-direction="down"]{
        bottom: 0;
    }

</style>
<script is:inline>
    document.addEventListener('astro:before-preparation', event => {
        if( event.sourceElement.dataset.direction === 'up' ) {
            event.direction = 'backward';
        }
    });
</script>