---
const { currentItem, class: className } = Astro.props;
import { popFromBottom, popFromTop } from "../animations/tab-pop";

// TODO move somewhere?
const navItems = [
    {
        title: 'Contact',
        id: 'contact'
    },
    {
        title: 'About',
        id: 'about'
    },
    {
        title: 'Résumé',
        id: 'resume'
    }
];

if( currentItem !== 'about' ) {
    navItems.reverse();
}

const svgAttributes = {
    viewBox: "0 0 300 123",
    height: '100%',
    preserveAspectRatio: 'none',
    fill: "var(--color--foreground)",
}
---

<nav class="navigation">
    { navItems.filter(
        item => item.id !== currentItem
    ).map( ( {id, title}, index ) => {
        const direction = index ? 'down' : 'up';
        const animation = index ? popFromBottom : popFromTop;

        return (
            <a href={id} class:list={["navigation__tab", className]} data-direction={direction} transition:animate={animation}>
                <svg class="navigation__tab-left" {...svgAttributes}>
                    <path  d="M0,123s74-3,105-20c36.72-20.14,51.93-59.53,64-72C199,0,242.5,0,242.5,0h57.5v123H0Z"/>
                </svg>
                <div class="navigation__tab-center">{title}</div>
                <svg class="navigation__tab-right" {...svgAttributes}>
                    <path d="M300,123s-74-3-105-20c-36.72-20.14-51.93-59.53-64-72C101,0,57.5,0,57.5,0H0v123h300Z"/>
                </svg>
            </a>
        )
    } ) }
</nav>
<style>
    .navigation {
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    .navigation__tab {
        position: absolute;
        height: var(--nav-height);
        display: flex;
        color: var(--color--background);
        text-decoration: none;
        transition: transform 0.4s;
    }

    .navigation__tab-center {
        background-color: var(--color--foreground);
        display: flex;
        align-items: center;
        margin-inline: -1px;
        z-index: 1;
    }

    .navigation__tab-right,
    .navigation__tab-left {
        aspect-ratio: 1.7;
    }

    .navigation__tab[data-direction="up"] {
        top: var(--border-height);
    }

    .navigation__tab[data-direction="up"] .navigation__tab-right,
    .navigation__tab[data-direction="up"] .navigation__tab-left {
        transform: scale(1, -1);
    }

    .navigation__tab[data-direction="down"]{
        bottom: var(--border-height);
    }

    @keyframes popDown {
        to {
            transform: translateY(calc(-100% - var(--border-height)));
        }
    }

    @keyframes popUp {
        to {
            transform: translateY(calc(100% + var(--border-height)));
        }
    }
</style>
<script is:inline>
    document.addEventListener('astro:before-preparation', event => {
        if( event.sourceElement.dataset.direction === 'up' ) {
            event.direction = 'backward';
        }
    });
</script>