---
import verticalSlide from "../animations/vertical-slide";
import Navigation from "../components/Navigation.astro";

const { pageName } = Astro.props;
---
<section class:list={['page', pageName]} transition:animate={verticalSlide}>
    <div class="page__content">
        <Navigation currentItem={pageName} />
    </div>
    <slot/>
</section>
<style>
    .page {
        height: 100vh;
        //padding: var(--nav-height);
       // display: flex;
        justify-content: center;
        overflow: hidden;
        background: var(--color--dark);
        color: var(--color--light);
    }

    @keyframes enterUp {
        from {
            transform: translateY(100%);
        }
    }

    @keyframes exitUp {
        to {
            transform: translateY(-100%);
        }
    }

    @keyframes enterDown {
        from {
            transform: translateY(-100%);
        }
    }

    @keyframes exitDown {
        to {
            transform: translateY(100%);
        }
    }

</style>